<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/shipra.parihar/coukjusthype">
    <classes>
        <class name="co.justhype.qa.testcases.LoginPageTest">
            <methods><include name="LoginPageTitle"/>
                <include name="SignInUsingemail"/>
                <include name="ValidateAddAddressFunctionality"/>

            </methods>
        </class>
    </classes>
</test>
</suite>